.yard {
  width: 100%;
  position: relative;
  padding: rem(150px) 0 0 0;
  min-height: rem(530px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  .img_yard {
    position: relative;
    max-width: rem(838px);
    width: 100%;
    height: auto;
    opacity: 0.36;
    img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
    }
  }
  .yard_text {
    padding: 0 rem(40px) rem(100px) rem(40px);
    position: relative;
    max-width: rem(800px);
    width: 100%;
    h2 {
      font: 700 rem(40px)/1 $Futura_PT;
      color: #090909;
      letter-spacing: rem(2px);
      margin-bottom: rem(70px);
    }
    p {
      color: #515151;
    }
  }
}
